.home-content {
  font-size: 16px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.home-content .header {
  position: relative;
  width: 100%;
  min-height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.home-content .header::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 110%;
  backdrop-filter: blur(10px);
  background-image: url('../../assets/images/homebg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-content .home-mainContent {
  position: relative;
  height: 100%;
  max-width: 1400px;
  width: 100%;
  margin: -600px auto 0px auto;
  padding-top: 40px;
}
.home-content .home-mainContent .header-content {
  width: 100%;
  max-width: 1400px;
  min-height: 530px;
  padding-top: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home-content .home-mainContent .header-content .left .left-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 48px;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #000000;
  line-height: 58px;
}
.home-content .home-mainContent .header-content .left .left-title .title-sell {
  background: url('../../assets/images/Brush.png') no-repeat left;
}
.home-content .home-mainContent .header-content .left .left-text {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
  margin: 40px 0 50px;
  font-family: Poppins-Regular, Poppins;
}
.home-content .home-mainContent .header-content .right {
  position: relative;
  width: 50%;
}
.home-content .home-mainContent .header-content .right .img-content {
  width: 480px;
}
.home-content .home-mainContent .header-content .right .headerImg {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  image-rendering: pixelated;
}
.home-content .home-mainContent .banner {
  width: 100%;
  margin: 0px auto;
  cursor: pointer;
}
.home-content .home-mainContent .content {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  overflow: hidden;
  padding: 50px 0px;
}
.home-content .home-mainContent .content .art-work {
  width: 100%;
  margin: 100px auto;
}
.home-content .home-mainContent .content .art-work .img-card {
  width: 100%;
}
.home-content .home-mainContent .content .art-work .img-card .GridList {
  width: 100%;
}
.home-content .home-mainContent .content .art-work .img-card .title {
  font-size: 30px;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  color: #000000;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  display: inline-block;
}
.home-content .home-mainContent .content .art-work .work-link {
  float: right;
  margin-top: 10px;
  font-size: 16px;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  color: #6d7278;
  line-height: 28px;
}
.home-content .showInfo-content .main {
  border-radius: 0% !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.home-content .showInfo {
  background: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
}
.home-content .showHeader-content {
  max-width: 591px;
}
.home-content .showHeader-content .main {
  border-radius: 0%;
}
.home-content .showHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 80px;
  margin-left: 20px;
  cursor: pointer;
}
.home-content .showHeader img {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}
.home-content .img-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.home-content .img-content:hover {
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 50px 0px;
  transform: translateY(-0.222222rem);
}
.home-content .img-content .main {
  width: 100%;
  border-radius: 10px;
  object-fit: revert;
  cursor: pointer;
}
.home-content .img-content .img-detail {
  position: absolute;
  padding-left: 10px;
  bottom: 20px;
  cursor: pointer;
  left: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  width: 233px;
  height: 66px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 33px;
  backdrop-filter: blur(6px);
}
.home-content .img-content .img-detail img {
  border-radius: 25px;
  width: 44px;
  height: 44px;
}
.home-content .home-list {
  width: 100%;
  margin: 0 auto;
}
.home-content .home-list .title {
  margin: 30px auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  line-height: 42px;
  width: fit-content;
}
.home-content .home-list .topList-select {
  font-size: 30px;
  font-weight: 600;
  color: #4338ca;
  line-height: 42px;
}
.home-content .home-list .list-name {
  color: #000000;
  line-height: 22px;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
}
.home-content .home-list .list-name .top-img {
  border-radius: 20px;
  width: 38px;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid #cdd2d9;
}
.home-content .home-list-table {
  width: 100%;
}
.home-content .home-list-table .ant-table-thead .ant-table-cell {
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  font-size: 16px;
  color: #6d7278 !important;
  background-color: transparent;
}
.home-content .home-list-table-row {
  font-size: 16px;
  cursor: pointer;
}
.home-content .ccc-png {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.home-content .ccc-png .img {
  width: 100%;
  background: #f9f9f9;
  border-radius: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 205px;
}
.home-content .ccc-png .img img {
  width: 990px;
}
.home-content .ccc-png .title {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
  .home-content {
    width: 100%;
    text-align: center;
  }
  .home-content .home-mainContent {
    max-width: 600px;
  }
  .home-content .home-mainContent .header-content {
    flex-wrap: wrap;
  }
  .home-content .home-mainContent .header-content .left .left-title {
    font-size: 38px;
    justify-content: center;
    line-height: 110%;
  }
  .home-content .home-mainContent .header-content .right {
    width: 100%;
    margin-top: 40px;
  }
  .home-content .home-mainContent .header-content .right .showHeader {
    text-align: left;
  }
  .home-content .home-mainContent .header-content .right .img-content {
    margin: auto;
    width: 100%;
  }
  .home-content .home-mainContent .content .art-work {
    width: 100%;
  }
  .home-content .home-mainContent .content .art-work .art-title {
    font-size: 30px;
    font-family: TrebuchetMS-Bold, TrebuchetMS;
    font-weight: bold;
    color: #000000;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse {
    width: 100%;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .ant-carousel .ccc-carouse-dots {
    margin-top: 10px;
    position: initial;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .ant-carousel .ccc-carouse-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .ant-carousel .ccc-carouse-dots li button {
    opacity: 0.25;
    background-color: #2081e2;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .ant-carousel .ccc-carouse-dots .slick-active button {
    opacity: 0.75;
    background-color: #2081e2;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .carouse-card {
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    width: 100%;
    padding-top: 1px;
    border: 1px solid #e5e8eb;
    border-radius: 10px;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .carouse-card .carouse-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .carouse-card .showHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .carouse-card .showHeader .name {
    text-align: left;
    margin-left: 10px;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .carouse-card .showHeader img {
    width: 48px;
    height: 48px;
    border-radius: 30px;
  }
  .home-content .home-mainContent .content .art-work .ccc-phone-carouse .carouse-card .info {
    display: inline-block;
    line-height: 40px;
    color: #000000;
  }
  .home-content .home-mainContent .content .art-work .home-list-table {
    overflow-y: hidden;
  }
  .home-content .home-mainContent .content .ccc-png {
    width: 100%;
  }
  .home-content .home-mainContent .content .ccc-png .img {
    width: 100%;
    border-radius: 120px;
    padding: 5px 20px 40px 20px;
  }
  .home-content .home-mainContent .content .ccc-png .img img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .home-content .home-mainContent {
    max-width: 360px;
  }
  .home-content .home-mainContent .header-content {
    flex-wrap: wrap;
  }
  .home-content .home-mainContent .header-content .left .left-title {
    font-size: 28px;
    justify-content: center;
    line-height: 110%;
  }
}
