.stakeList {
  width: 100%;
  font-size: 16px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  .stakeList-ul {
    width: 100%;
    padding: 10px 80px;
    // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    .box {
      row-gap: 5px;
      flex: 1;
    }
  }
}

.stake-title {
  font-size: 20px;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  margin-top: 20px;
}
